p {
  color: rgb(45, 48, 55);
  text-align: left;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
}

h2 {
  font-size: 24px;
  line-height: 140%;
  margin: 40px 0;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  max-width: none;
}

b {
  display: inline;
  color: #4a50bb;
  font-weight: bold;
  font-family: "Space Mono", monospace;
}

/* Nav bar */
header {
  font-family: sans-serif;
  font-size: 12px;
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: sans-serif;
}

.footer-info a {
  color: #fff;
}

.footer-social a {
  font-size: 1.5rem;
  color: #fff;
}

nav ul li a:hover {
  color: #181717;
}

nav .btn-apply:hover {
  background-color: #fff;
  color: #181717;
}

.hamburger-menu {
  display: none;
}

@media only screen and (max-width: 768px) {
  nav {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: #fff;
    text-align: center;
    display: none;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 10px 0;
  }

  .hamburger-menu {
    display: block;
    cursor: pointer;
    padding: 10px;
  }

  .hamburger-menu span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #181717;
    margin: 5px auto;
  }
}

/* Intro */
h1 {
  font-size: 36px;
  line-height: 120%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: #4a50bb;
  text-align: left;
  max-width: none;
}

.intro_text {
  padding: 60px;
}

.intro_image {
  max-width: 60%;
  float: right;
  position: flex;
}

.classes {
  text-decoration: underline;
  color: rgb(74, 80, 187);
}

/* Who can apply */
.apply {
  padding-left: 60px;
}

.require {
  margin: 5% 20%;
  text-align: center;
}

.yes {
  max-width: 100%;
}

.mask {
  max-width: 100%;
}

.whoCan {
  margin: 60px;
}

/* Programs */
.program {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
  object-fit: contain;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding: 60px;
}

/* Final */
.final {
  columns: 2;
  padding: 60px;
}

.discover {
  text-decoration: underline;
  color: rgb(74, 80, 187);
}

.mentor {
  text-decoration: underline;
  color: rgb(74, 80, 187);
}

/* Mentorship */
.mentorship {
  padding: 60px;
  columns: 2;
}

button {
  margin: 0 auto;
  color: #fffffe;
  background-color: #6c72e4;
  font-style: "Alegreya Sans SC";
  font-size: 14px;
  padding: 15px 25px;
  border: none;
  border-radius: 30px;
  transition: all 200ms ease-in-out;
}

/* Resources */
.resources {
  padding: 60px;
}

/* Footer */
footer {
  background-color: #21278d;
  color: #fff;
  padding: 50px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-info {
  text-align: left;
  max-width: 50%;
}

.footer-info h4 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
}

.footer-info p {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #fff;
}

.footer-social {
  max-width: 30%;
  text-align: right;
}

.footer-social h4 {
  font-size: 2;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
}

.footer-social ul {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.footer-social li {
  list-style: none;
  margin-left: 20px;
}

.fab {
  transition: all 0.3s ease;
}

.fab:hover {
  transform: scale(1.2);
}

.footer-social a.facebook {
  background-image: url("facebook-logo.png");
}

.footer-social a.twitter {
  background-image: url("twitter-logo.png");
}

.footer-social a.instagram {
  background-image: url("instagram-logo.png");
}
