body {
  margin: 5px;
  padding: 0;
  background: white;
}

ul {
  padding: 3%;
  margin: auto;
  list-style: none;
}

/* adjusting the nav bar */

nav {
  width: 100%;
  overflow: auto;
  background: gray;
}

/* floating to the right for the nav links */

li {
  float: right;
}

li a {
  width: 200px;
  display: block;
  padding: 15px 15px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: blanchedalmond;
  text-align: center;
}

/* adding hover styling to the nav links */

li a:hover {
  border-radius: 1rem;
  color: white;
  text-shadow: 2px 2px 4px brown;
  background: lightblue;
  text-transform: uppercase;
}

/* adding the logo and adjusting the positing using rem */

.logo img {
  height: 5rem;
  width: 8rem;
  position: absolute;
  margin-top: 1rem;
  margin-left: 25rem;
}

/* Styling the title and intro */

h1 {
  text-align: center;
  color: blue;
  margin-top: 100px;
}

.Intro {
  text-align: center;
  margin-top: 30px;
  font-family: Tahoma, sans-serif;
}

/* Styling the buttons adding background and margins to the buttons */

.btw {
  text-align: center;
  margin-top: 50px;
}

.btn {
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin: 1px 15px 15px 15px;
  border: none;
  border-radius: 4px;
  background: blue;
  padding: 15px 10px 15px 10px;
  box-shadow: 0 9px #999;
}

.btn:hover {
  background-color: lightblue;
  text-shadow: 2px 2px 4px brown;
}

/* Adjusting position of images and the paragraph */

.hyf-aim {
  margin-top: 1rem;
  height: 300px;
  background-color: ghostwhite;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

/* Styling the footer section added background margin */

.footer-content {
  margin-top: 50px;
  background-color: ghostwhite;
  text-align: center;
}